{% extends 'base.html' %}

{% block page_header %}Home{% endblock %}

{% block head_includes %}
<script>
    window.addEventListener("load", function() {
        var collections = ["DataPath", "Release", "DataModel"];
        fetch("{{ url_for('collection_counts') }}", {
            body: JSON.stringify(collections),
            credentials: "same-origin",
            headers: {
                "content-type": "application/json"
            },
            method: "POST",
            mode: "cors",
            redirect: "follow",
            referrer: "no-referrer"
        }).then(response => response.json())
        .catch(error => console.error("Error:", error))
        .then(function(response) {
            for (var collectionName in response) {
                var collectionSize = response[collectionName];
                document.getElementById(collectionName).innerHTML = collectionSize;
            }
        });
    });
</script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intro.js/2.9.3/introjs.min.css" integrity="sha256-/oZ7h/Jkj6AfibN/zTWrCoba0L+QhP9Tf/ZSgyZJCnY=" crossorigin="anonymous" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/intro.js/2.9.3/intro.min.js" integrity="sha256-fOPHmaamqkHPv4QYGxkiSKm7O/3GAJ4554pQXYleoLo=" crossorigin="anonymous"></script>
{% endblock %}

{% block content %}
<div class="row">
    <div class="hero hero--regular hero--split hero--split-66">
        <div class="hero__content hero--indigo">
            <div class="container">
                <h3>Your cornerstone for telemetry.</h3>
                <p>TDM enables easier exploration and insights into data availability from networking operating systems and platforms, including formal constructs for indicating equivalent data. For instance, migrating from SNMP OIDs to Model-Driven Telemetry YANG XPaths. TDM exists to ease data discovery, correlation, and usage. Enjoy!</p>
                <br>
                <button class="btn btn--wide btn--primary" onclick="introJs().setOption('highlightClass', 'tdm-intro-highlight').start();">Take a Tour</button>
            </div>
        </div>
        <div class="hero__marquee hero--background-3 hero--filter-blue"></div>
    </div>
</div>
<div class="section">
    <h1 class="section__title">Statistics</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="scoreboard">
                    <div id="Release" class="scoreboard__title">
                        <div class="loading-dots loading-dots--info"><span></span><span></span><span></span></div>
                    </div>
                    <hr class="text-muted">
                    <div class="scoreboard__subtitle">OS Releases</div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="scoreboard">
                    <div id="DataModel" class="scoreboard__title">
                        <div class="loading-dots loading-dots--info"><span></span><span></span><span></span></div>
                    </div>
                    <hr class="text-muted">
                    <div class="scoreboard__subtitle">Data Models</div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="scoreboard">
                    <div id="DataPath" class="scoreboard__title">
                        <div class="loading-dots loading-dots--info"><span></span><span></span><span></span></div>
                    </div>
                    <hr class="text-muted">
                    <div class="scoreboard__subtitle">Data Paths</div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
