[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyArango-upstream = {git = "https://github.com/tariqdaouda/pyArango.git", ref = "master"}
pyang = "*"
pysmi = "*"
elasticsearch = "*"

[dev-packages]

[requires]
python_version = "3.6"
