[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

flask = "*"
python-arango = "*"
flask-wtf = "*"
elasticsearch = "*"
gevent = "*"
email_validator = "*"


[dev-packages]



[requires]

python_version = "3.6"
